header{

  float : left;
  position: relative;
  left:50%;


}
nav{
    list-style-type: none;
    margin: 10%auto;;
    padding: 0;
    width: 25%;
    background-color:;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/*nav.li{
  display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;

}*/
body {
    background-color: lightblue;
}
article{
  margin-left: 30%;
  float : right;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 10px;
}
